body {
	margin: 0;
	transition: all 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#widoox-header-wrapper {
	#widoox-header-menu {
		padding: 0 15px;
		background-color: #1f1f1f;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		.widoox-wrapper {
			min-height: 47px;
			max-width: 1200px;
			margin: 0 auto;
			padding: 0 15px;
		    color: rgba(255, 255, 255, 0.8);
		}
		#menu-menu-categoria {
			display: inline-block;
			border-left: 1px solid rgba(255, 255, 255, 0.1);
			margin: 0;
			padding: 0;
		    font-size: 11px;
		    li {
				margin: 0;
			    padding: 0;
			    display: inline-block;
			    a	{
					text-decoration: none;
					display: block;
				    padding: 0 15px;
				    line-height: 46px;
					color: inherit;
					text-transform: uppercase;
					font-family: 'booster-medium', 'Helvetica', sans-serif!important;
				}
			}
		}
		#right-nav {
			border-left: 1px solid rgba(255, 255, 255, 0.1);
			float: right;
			margin: 0;
			padding: 0;
		    font-size: 11px;
		    font-size: 11px;
		    li {
		    	display: inline-block;
		    	list-style: none;
		    	padding: 0;
		    	margin: 0;
		    	border-right: 1px solid rgba(255, 255, 255, 0.1);
		    	a {
	    			font-weight: 600;
					text-decoration: none;
					display: block;
				    padding: 0 15px;
				    line-height: 46px;
					color: inherit;
					text-transform: uppercase;
					font-family: 'booster-medium', 'Helvetica', sans-serif!important;
					i {
						font-size: 18px;
	   					vertical-align: middle;
					}
				}
		    }
		}
		@media all and (max-width: 767px) {
			#widoox-fade {
				position: fixed;
			    width: 100vw;
			    height: 100vh;
			    top: 0;
			    background: rgba(151, 151, 151, 0.5);
			    left: 0;
			    z-index: 999;
			    display: none;
				cursor: pointer;
			}
			.widoox-wrapper {
				width: 280px;
			    height: 100vh;
			    background-color: white;
			    color: #f11658;
			    margin: 0;
			    padding: 20px 10px 20px 20px;
			    position: fixed;
			    z-index: 9999;
			    left: -310px;
			    top: 0;
			    li {
			    	display: block !important;
			    	a {
	    				font-weight: 600;
			    		padding: 19px 0 16px !important;
			    		line-height: initial !important;
	   					font-weight: 600;
			    	}
			    }
			    #right-nav {
			    	float: none;
			    }
			}
		}
			

	}

	#widoox-header-bar {	
		padding: 0 15px;
		background-color: #1f1f1f;
		.widoox-wrapper {
			max-width: 1200px;
			margin: 0 auto;
			padding: 0 15px;
			position: relative;
		}
		#widoox-logo {
			padding: 20px 0;
			margin: 12px 10px;
			height: 100px;
			width: auto;
		}
		#widoox-ad {
			position: absolute;
		    right: 15px;
		    top: 50%;
		    max-width: calc(100% - 300px);
		    width: 712px;
		    transform: translate(0, -50%);
		}
		@media all and (max-width: 767px) {
			text-align: center;
			#menu-bars {
				cursor: pointer;
				height: 13px;
			    width: 17px;
			    float: left;
			    margin: 30px 0;
			    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ededed+100&1+0,1+20,0+21,0+40,1+41,1+60,0+61,0+80,1+81,0+100,0+100,0+100,1+100 */
				background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(251,251,251,1) 20%, rgba(251,251,251,0) 21%, rgba(248,248,248,0) 40%, rgba(248,248,248,1) 41%, rgba(244,244,244,1) 60%, rgba(244,244,244,0) 61%, rgba(241,241,241,0) 80%, rgba(241,241,241,1) 81%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(251,251,251,1) 20%,rgba(251,251,251,0) 21%,rgba(248,248,248,0) 40%,rgba(248,248,248,1) 41%,rgba(244,244,244,1) 60%,rgba(244,244,244,0) 61%,rgba(241,241,241,0) 80%,rgba(241,241,241,1) 81%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(251,251,251,1) 20%,rgba(251,251,251,0) 21%,rgba(248,248,248,0) 40%,rgba(248,248,248,1) 41%,rgba(244,244,244,1) 60%,rgba(244,244,244,0) 61%,rgba(241,241,241,0) 80%,rgba(241,241,241,1) 81%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

			}
			#widoox-logo {
				height: 73px;
				width: auto;
				margin: 0 auto;
			}
			#widoox-ad {
				display: none;
			}
		}
	}
	#widoox-wp-menu {
		padding: 0 15px;
		background: #fff;
		border-bottom: 2px solid rgba(0, 0, 0, 0.08);
		.widoox-wrapper {
			max-width: 1200px;
			margin: 0 auto;
			padding: 0 15px;
			ul {
				padding: 0;
				li {
					display: inline-block;
					margin: 0 30px 0 0;
					padding: 20px 0;
					a {
						font-weight: 600;
						text-decoration: none;
						font-size: 13px;
						color: inherit;
						text-transform: uppercase;

					}
				}
			}
		}
	}
}
	

